<?xml version="1.0" ?>
<model>
    <name>prueba</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>
            Laura Aguado Cabanillas
        </name>
        <email>
            l.acabanillas@alumnos.upm.es
        </email>
    </author>
    <description>
        Modelo de cuatro columnas
    </description>
</model>
