<?xml version="1.0"?>
<model>
    <name>column</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>laura</name>
        <email>kunito.laura.ac@gmail.com</email>
    </author>

    <description>
        Columna 3D descargada de 3dWarehose
    </description>
</model>